<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picdora"
    android:versionCode="1"
    android:versionName="1.03" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:name="com.picdora.PicdoraApp_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PicdoraActionBarTheme" >
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="f8e89955ef243b240a3807307b94b382d9652601" />
        
        <service android:name="com.picdora.sync.PicdoraSyncService_" />

        <activity
            android:name="com.picdora.channelSelection.ChannelSelectionActivity_"
            android:label="@string/title_activity_channel_selection" >
        </activity>
        <activity
            android:name="com.picdora.channelPlayer.ChannelViewActivity_"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.picdora.channelCreation.ChannelCreationActivity_"
            android:label="@string/title_activity_channel_creation"
            android:parentActivityName="com.picdora.channelSelection.ChannelSelectionActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.picdora.channelSelection.ChannelSelectionActivity_" />
        </activity>
        <activity
            android:name="com.picdora.channelDetail.ChannelDetailActivity_"
            android:label="@string/title_activity_channel_detail"
            android:parentActivityName="com.picdora.channelSelection.ChannelSelectionActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.picdora.channelSelection.ChannelSelectionActivity_" />
        </activity>
        <activity
            android:name="com.picdora.channelPlayer.ResumeActivity_"
            android:label="@string/title_activity_resume" >
        </activity>
        <activity
            android:name="com.picdora.settings.SettingsActivity_"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.picdora.collections.CollectionsActivity_"
            android:label="@string/title_activity_collections" >
        </activity>
        <activity
            android:name="com.picdora.likes.LikesActivity_"
            android:label="@string/title_activity_likes" >
        </activity>
        <activity
            android:name="com.picdora.launch.LaunchActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>